@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
} 

.nav{
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px ;
}

.main{
  background-color: #ade6ff;
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  z-index: -1;
  padding: 48px 148px ;
  padding-right: 0px;
}

.home{
  display: flex;
  justify-content: space-between;
  
  margin: -12px;
}

.welcome-text{
  font-size: 87.8px;
  color: #000000e1;
  font-family: 'circular';
  /* padding: 20px; */
  margin-top: 60px;
  line-height: 1;
}

.front-img{
  display: absolute;
  right: 0;
  left: 0;
  height: 640px;
  margin-left: -40px;
  margin-top: -30px;
  
}

.home{
  width: 1027px;
}

.home-left{
  padding: 20px
}

.btn-primary{
  @apply bg-blue-900 text-white px-4 py-1 rounded-md;
}

table.basic{
  @apply w-full;
}
table.basic thead tr td{
  @apply bg-blue-100;
}
table.basic, tr, td{
  @apply border border-blue-200 p-1 ;
}
table.basic a{
  @apply bg-blue-900 text-white text-sm py-1 px-2 rounded-md inline-flex gap-1 mr-1;
}
